@use 'reset-css/reset.css';
@use './print';
@use './premium-georgia-text' as *;

::selection {
  background: yellow;
  color: red;
  text-shadow: none;
}

::-moz-selection {
  background: yellow;
  color: red;
  text-shadow: none;
}

* {
  box-sizing: border-box;
}

html {
  @include premium-georgia-text;
  max-width: none; // Override mixin's max-width for root html

  background-color: white;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  line-height: inherit;
}

.application-container {
  max-width: 800px;
  margin: 0;
  padding: 24px;
  @media only screen and (max-width: 959px) {
    padding: 16px;
  }
}

h1,
h2,
h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
}

p {
  margin: 0 0 1rem 0;
}

a,
a:visited {
  color: blue;
  @media (prefers-color-scheme: dark) {
    color: yellow;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
  }

  &.inline {
    li {
      margin-right: 0.5rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comma-list li {
  display: inline;
  margin-right: 0;
}

/* Adds a comma and space between items */
.comma-list li:not(:last-child)::after {
  content: ", ";
}

@media screen {
  .print-only {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


